*{
  box-sizing: border-box;
}
h1 {
  margin-top: 40px;
  margin-bottom: 80px;
  text-align: center;
  font-family: cursive;
}
p{border: 1px solid black;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 2px;
  padding-top: 2px;
  font-family: cursive;
  font-weight:  bold;

}
div {
  
  border: 1px solid black;
  margin-bottom: 15px;
  float: left;
  
  font-family: helvetica;
  
  padding-left: 10px;
  padding-top: 50px;
}
#p1 {
  font-family: cursive;
  background-color: #7D7D7D;
  position: relative;
  }
#p2 {
  font-family: cursive;
  background-color: #7D7D7D;
  position: relative; 
}
#p3 {
  font-family: cursive;
  background-color: #7D7D7D;
  position: relative;
}
#p4{background-color:#e3adb5 ;
    position: absolute;
    right:0px;
    top:0;
}
#p5{background-color: #95b8e3;
    position: absolute;
    right: 0;
    top:0; 

}
#p6{background-color: #f0b892;
    position: absolute;
    right:0; 
    top:0;

}
/********** Large devices only **********/
@media (min-width: 992px) {
  #p1 {
    width: 30%;
    height: 200px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    }
  #p2 {
    width: 30%;
    height: 200px;
    margin-right: 2.5%;
  }
  #p3{
    width: 30%;
    height: 200px;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #p1 {
    width: 45%;
    height: 200px;
    margin-left: 3.34%;
    margin-right:3.34%;
  }
  #p2 {
    width: 45%;
    height: 200px;
  }
  #p3 {
    width: 93.34%;
    height: 200px;
    margin-left: 3.33%;
  }
}
/**********Small devices only************/
@media(max-width: 767px) {
  #p1{
    width:80% ;
    height:200px ;
    margin-left: 10%;
  }
  #p2{
    width:80%;
    height:200px;
    margin-left: 10%;
  }
  #p3{
    width:80%; 
    height:200px;
    margin-left: 10%;
  }

}
